<!DOCTYPE html>
<html>
<head>
  <title>ParamsRailsLivecode1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= image_tag "http://fillmurray.com/200/300", alt: "Fill Murry!" %>
    <nav>
      <ul>
        <li><%= link_to( "Home", index_path ) %></li>
        <%# <li><%= link_to( "Articles", show_path )%>
        <li><%= link_to( "New Post", new_path ) %></li>
      </ul>
    </nav>
  </header>

<%= yield %>

<footer>
  @Maya Wang, 2016
</footer>

</body>
</html>
